
<h1> All Shelters </h1>

<% @shelters.each do |shelter| %>
  <h3><%= shelter.name %></h3>
  <p><%= shelter.address %></p>
  <p><%= shelter.city %></p>
  <p><%= shelter.state %></p>
  <p><%= shelter.zip %></p>

<% end %>

<ul>
  <li><a href="/shelters/new">Add Shelter</a></li>
</ul>
